<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated programming -->
      <package
            uri="https://mdedu.espoch.edu.ec/model/programming/1.0"
            class="com.project.mde.programming.ProgrammingPackage"
            genModel="model/programming.genmodel"/>
   </extension>

</plugin>
